.main-nav .menu > li {
  padding-left: 10px;
  padding-right: 10px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80M;
}

.w-60 {
  width: 60%;
}

.w-20 {
  width: 20%;
}

.product-details-action .btn-cart {
  color: #fcb941 !important;
  background-color: transparent !important;
  border-color: #fcb941;
}

.product-details-action .btn-cart:hover, .btn-product:hover span {
  color: white !important;
}
.product-details-action .btn-cart:hover {
  background-color: #fcb941 !important;
}

.modal-body {
  padding: 20px;
}

#signin-modal .modal-body {
  padding: 0;
}


